.head {
    float: centre;
    font-weight: 900;
    font-weight: bolder;
    font-style: oblique;
    color: whitesmoke;
    font-stretch: initial;
}
body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: yellow;
  }
.text {
    font-style: italic;
    font-weight: bolder;
    font-size: initial;
    color: blue;
}
.container {
    float: centre;
    font-weight: bold;
    text-align: center;
    font-weight: 600;
}
